<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
	<mapper namespace="kr.ac.badoogi.mapper.SearchMapper">
	<select id="Commusearch" resultType="kr.ac.badoogi.vo.CommunityVo">
			 SELECT USERCODE,COMMUNITYTB.COMMUNITYBNO AS COMMUNITYBNO,COMMUNITYTB.EMAIL AS EMAIL,COMMENT, NICKNAME,
    	COMMUNITYIMGTB.REALFILENAME AS REALFILENAME,COMMUNITYIMGTB.REALPATH AS REALPATH,PRIVATE AS PRIVATEOR,
    	 (select count(communitybno) from replytb where replytb.communitybno=communitytb.communitybno)as rownum,
         (select count(communitybno) from like_badoomtb where communitytb.communitybno=like_badoomtb.communitybno 
         and like_badoomcode='badoom') as badoomnum,
         (select  count(like_badoomtb.email) from like_badoomtb where communitytb.communitybno=like_badoomtb.communitybno
         and like_badoomtb.email=#{email} and like_badoomcode='badoom') as badoom,
         (select count(communitybno) from like_badoomtb where communitytb.communitybno=like_badoomtb.communitybno
         and like_badoomcode='like') as likenum,
         (select count(like_badoomtb.email) from like_badoomtb where communitytb.communitybno=like_badoomtb.communitybno
         and like_badoomtb.email=#{email} and like_badoomcode='like')as likee
    	FROM COMMUNITYTB JOIN NICKNAMETB,COMMUNITYIMGTB 
    	WHERE PRIVATE='N' AND COMMUNITYTB.EMAIL=NICKNAMETB.EMAIL 
    	AND COMMUNITYTB.COMMUNITYBNO=COMMUNITYIMGTB.COMMUNITYBNO
    	 and (nickname like #{keyword} or comment like #{keyword})
    </select>
    
    <select id="Getcatesearch" resultType="kr.ac.badoogi.dto.CatelistDto">
       SELECT contact,enterprisedetailtb.licensenumber as licensenumber,address,weekend,weekday,domain,storename,parking,cp_entnum
		,private,frontimg,realpath,
		 (select count(licensenumber) from replytb where replytb.licensenumber=ENTERPRISEDETAILTB.licensenumber)as rownum,
    	   (select count(licensenumber) from like_badoomtb where ENTERPRISEDETAILTB.licensenumber=like_badoomtb.licensenumber 
         and like_badoomcode='badoom') as badoomnum,
         (select  count(like_badoomtb.email) from like_badoomtb where ENTERPRISEDETAILTB.licensenumber=like_badoomtb.licensenumber
         and like_badoomtb.email='' and like_badoomcode='badoom') as badoom,
         (select count(licensenumber) from like_badoomtb where ENTERPRISEDETAILTB .licensenumber=like_badoomtb.licensenumber 
         and like_badoomcode='like') as likenum,
         (select count(like_badoomtb.email) from like_badoomtb where ENTERPRISEDETAILTB .licensenumber=like_badoomtb.licensenumber
         and like_badoomtb.email='' and like_badoomcode='like')as likee
         FROM ENTERPRISEDETAILTB , ENTIMGTB , CATEGORYTB 
		where ENTERPRISEDETAILTB.LICENSENUMBER=CATEGORYTB.LICENSENUMBER
        AND ENTIMGTB.LICENSENUMBER=ENTERPRISEDETAILTB.LICENSENUMBER
		AND ENTERPRISEDETAILTB.PRIVATE='N'
		and ADDRESS LIKE '경기도 성남시%'
        group by contact,enterprisedetailtb.licensenumber ,address,weekend,weekday,domain,storename,parking,cp_entnum
		,private,frontimg,realpath
    </select>
	</mapper>